@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
body {
  background: linear-gradient(to right, #0062e6, #33aeff);
}
.card-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
@media screen and (max-width: 767px) {
  body {
    font-size: 0.9rem;
  }
}
